@charset "utf-8";
/* base CSS  */
body {
	background-color: #fff;
	background: url(../images/body_bg.png) repeat;
	margin: 0;
	padding: 0;
	color: #666;
	min-width: 1000px;
	overflow-x: hidden
}
body, html, ul, ol, li, dl, dt, dd, th, td, pre, a, img, fieldset, form, label, span {
	margin: 0;
	padding: 0;
}
body, html, input, button, textarea {
	color: #666;
	font: 12px "Microsoft Yahei", "宋体", Verdana, Geneva, sans-serif;
}
a img {
	border: none;
}
article, aside, figcaption, figure, footer, header, main, nav, section, time {
	display: block
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3, h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
img {
	border: none;
	vertical-align: middle;
}
li {
	list-style: none;
}
i, em {
	font-style: normal;
}
a {
	color: #717171;
	text-decoration: none;
}
a:focus {
	color: #999;
	outline: none;
}
a:hover {
	color: #37487b;
	outline: none;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
/* input */
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
button, input {
*overflow:visible;
	line-height: normal;
}
label, input, button, select, textarea {
	font-size: 12px;
	font-weight: normal;
}
select, textarea, input,password[type="text"] {
	display: inline-block;
	height: 26px;
	padding: 1px 1px;
	margin-bottom: 2px;
	font-size: 12px;
	line-height: 26px;
	color: #555555;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
textarea, input {
	background-color: #ffffff;
	border: 1px solid #e8e8e8;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus, input[type="text"]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
*margin-top:0;
	margin-top: 1px \9;
	line-height: normal;
}
.disable {
	display: none;
}

.content {
	padding:0 0 0 1.5%;
	width: 81.5%;
	float:left;
	margin:1px 0px 0 0;
	min-width: 820px;
	overflow-x: hidden;padding-bottom:3000px; margin-bottom:-3000px; 
}
.content ul, .content ol {
	padding: 0 15px 15px 40px;
}
ul.nav a {
	zoom: 1;
}

/* Button */

input[type="submit"], input[type="reset"], input[type="button"], .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: #3791da;
	border-radius: 4px;
	border: 0;
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	height: 2.55em;
	line-height: 2.65em;
	padding: 0 1.1em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover {
	background-color: #add5e7;
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .button:active {
	background-color: #5b98bc;
}
input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon, .button.icon {
	padding-left: 1.35em;
}
input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, .button.icon:before {
	margin-right: 0.5em;
}
input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, .button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}
input[type="submit"].small, input[type="reset"].small, input[type="button"].small, .button.small {
	font-size: 0.8em;
}
input[type="submit"].big, input[type="reset"].big, input[type="button"].big, .button.big {
	font-size: 1.35em;
}
input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, .button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
	color: #666 !important;
}
input[type="submit"].alt:hover, input[type="reset"].alt:hover, input[type="button"].alt:hover, .button.alt:hover {
	background-color: rgba(144, 144, 144, 0.075);
}
input[type="submit"].alt:active, input[type="reset"].alt:active, input[type="button"].alt:active, .button.alt:active {
	background-color: rgba(144, 144, 144, 0.2);
}
input[type="submit"].alt.icon:before, input[type="reset"].alt.icon:before, input[type="button"].alt.icon:before, .button.alt.icon:before {
	color: #bbb;
}
input[type="submit"].special, input[type="reset"].special, input[type="button"].special, .button.special {
	background-color: #cccccc;
	color: #ffffff !important;
}
input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, .button.special:hover {
	background-color: #add5e7;
}
input[type="submit"].special:active, input[type="reset"].special:active, input[type="button"].special:active, .button.special:active {
	background-color: #cccccc;
}
input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, .button.disabled, .button:disabled {
	background-color: #09a3dc !important;
	box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
	color: #fff !important;
	cursor: default;
	opacity: 0.25;
}