<configuration>
	<property name="loggingRoot" value="/logs/" />
	<property name="charset" value="UTF-8" />
	<property name="projectName" value="project" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
			<charset>${charset}</charset>
		</encoder>
	</appender>

	<appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${loggingRoot}/${projectName}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
			<charset>${charset}</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${loggingRoot}/${projectName}-error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>

	<root level="info">
		<appender-ref ref="logFile" />
		<appender-ref ref="stdout" />
	</root>

</configuration>